CREATE DATABASE [EZYD_20] ON  PRIMARY 
( NAME = N'EZYD_20', FILENAME = N'D:\programs\Spawek Microsoft SQL Server\MSSQL10_50.SPAWEK_SQL\MSSQL\DATA\EZYD_20.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EZYD_20_log', FILENAME = N'D:\programs\Spawek Microsoft SQL Server\MSSQL10_50.SPAWEK_SQL\MSSQL\DATA\EZYD_20_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [EZYD_20]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [EZYD_20] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
